/* 全体 */
.toppage{
  text-align: center;
}




/* ヘッダー */

.header{
  background: white;
  width: 100%;
  height: 64px;
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.header__inner{
  display: flex;
  align-items: center;
  text-align: center;
  height: 64px;
}

.header__inner__logo img{
  float: left;
  margin-left: 46px;
  height: 22px;
}

.header__inner__time h2{
  color:#97B9D1;
  font-weight: 100;
  margin-left: 20px;
  font-size: 15px;
}


.header__inner__button {
  background: linear-gradient(to right , rgb(32, 91, 255) , skyblue);
  color: #fff; /* 文字色 */
  padding: 12px 58px; /* 上下の余白、左右の余白 */
  text-decoration: none; /* デフォルトで入る下線を消す */
  border-radius: 30px; /* 角を丸くする */
  box-shadow: 0 0 5px rgb(19, 129, 255);
  box-sizing: content-box;
  z-index: 1000;
  text-align: center;
  align-items: center;
  width: 80px;
  top: 10px;
  right: 40px;
  position: absolute;
  font-family: "Font Awesome 5 Free";

}


.responsive__inner__button{
  background: linear-gradient(to right , rgb(32, 91, 255) , skyblue);
  color: #fff; /* 文字色 */
  padding: 12px 58px; /* 上下の余白、左右の余白 */
  text-decoration: none; /* デフォルトで入る下線を消す */
  border-radius: 30px; /* 角を丸くする */
  box-shadow: 0 0 5px rgb(19, 129, 255);
  box-sizing: content-box;
  z-index: 1000;
  text-align: center;
  align-items: center;
  width: 80px;
  position: absolute;
  display: none;
  font-family: "Font Awesome 5 Free";
}








/* テンプレート系 */

/* ボックス */
.section__box{
  background: white;
  box-shadow: 10px 10px 10px -15px rgb(185, 185, 185);
  border-radius: 10px;
  margin: 10px;
}

/* フロート */
.float{
  float: left;
}


/* フレックス */
.flex{
  display: flex;
}








/* main */
html{
  background:#F5F5F8;
  overflow-x:hidden ;
  overflow-y: hidden;
  text-align: center;
  box-sizing : border-box;
}

.main{
  display:inline-block;
  margin-top:74px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.main__inner{
  display: flex;
  align-items: stretch;
  text-align: center;
  justify-content: center;
}



.main__inner__1{
  display: inline-block;
  width: 50%;
  table-layout:fixed;
  margin-left:5%
}

.main__inner__1__time{
  display: flex;
}



.main__inner__1__time__box{
  width: 100%;
  height: 136px;
  padding: 5px;
  list-style: none;

}

.main__inner__1__time__box__time__title{
  text-align: center;
  align-items: center;
  font-size: 120%;
  font-weight: bold;
  font-style: inherit;
  color: rgb(19, 91, 185);
  margin: 10px;
}

.main__inner__1__time__box__time__result{
  text-align: center;
  align-items: center;
  font-size: 200%;
  font-weight: bold;
  font-family: 'arial',sans-serif;
  margin: 10px;
  letter-spacing: 0.05em;

}

.main__inner__1__time__box__time__unit{
  text-align: center;
  align-items: center;
  font-size: 120%;
  font-weight:inherit;
  font-style: normal;
  color:#97B9D1;
  margin: 10px;
}

.main__inner__1__timeGraph{
  height: 410px;
  display: block;
  position: relative;
  padding: 5%;
}

#bargraph-area{
  justify-content: flex-end;
  width:50rem;
}


.main__inner__2{
  display: flex;
  width:50%;
  margin-right:5%;
}

.main__inner__2__box{
  width:100%;

  position: relative;
  overflow: hidden;
  display:block;
}

.main__inner__2__box h2{
  font-weight: 600;
  font-family: "Font Awesome 5 Free";
  font-size: 25px;
  padding:5%;
}


.main__inner__2__box__graph{
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto
}

#language-graph{
  position: relative !important;
  width:180% !important;
  height: 90% !important;;
  justify-content: center;
  display: block;
  left: -40%;
}



.main__inner__2__box__language{
  margin: 10px;
}

.main__inner__2__box__language h4{
  font-family: Google Sans;
}


/* グラフ下部分の丸 */
.main__inner__2__box__language-circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #2b2e38;
  margin-right: 5px;
  align-items: center;
}



#content-graph{
   position: relative !important;
  width:180% !important;
  height: 90% !important;;
  justify-content: center;
  display: block;
  left: -40%;
}

.main__inner__2__box__content{
  margin: 10px;
}
.main__inner__2__box__content-circle{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #2b2e38;
  margin-right: 5px;
  align-items: center;
}






footer {
    width:100%;
    position:absolute;
    bottom: 0;
    margin: 0 auto;
}

.foot-wrapper {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10%;
}

.foot-nav {
    display:flex;
    justify-content: center;
    font-weight: bold;
}

.foot-nav i{
  margin-left:10px;
  margin-right:10px;
}

/* モーダル */

.modal-wrapper {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 40px 10px;
  text-align: center
}

.modal-wrapper:not(:target) {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
}

.modal-wrapper:target {
  opacity: 1;
  visibility: visible;
  transition: opacity .4s, visibility .4s;
}

.modal-wrapper::after {
  display: inline-block;
  height: 100%;
  margin-left: -.05em;
  vertical-align: middle;
  content: ""
}

.modal-wrapper .modal-window {
  box-sizing: border-box;
  display: inline-block;
  z-index: 20;
  position: relative;
  width: 900px;
  height: 600px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, .6);
  vertical-align: middle;
  border-radius: 20px;
  overflow-x:hidden ;
  overflow-y: hidden;
}

.modal-wrapper .modal-window .modal-content {
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: left;
  padding-left: 56px;
  padding-right: 56px;
  margin: 0 auto;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-overlay {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.445)
}

.modal-wrapper .modal-close {
  z-index: 20;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 35px;
  color: #95979c !important;
  background: #F5F5F8;
  border-radius: 100%;
  font-size: 20px;
  font-weight: bold;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  text-indent: 0;

}


.modal-wrapper .modal-close:hover {
  color: #2b2e38 !important
}


.modal-button{
  margin: 0 auto;
    background: linear-gradient(to right , rgb(32, 91, 255) , skyblue);
    color: #fff;
    padding: 12px;
    text-decoration: none;
    border-radius: 30px;
    width: 70%;
    box-shadow: 0 0 5px rgb(19 129 255);
    box-sizing: content-box;
    align-items: center;
    text-align: center;
    display: block;
}



.modal-content-1{
  height: 500px;
  margin: 20px;
float: inline-start;
}

.modal-content-2{
float: inline-start;
height: 500px;
  margin: 20px;
}

.modal-content-title{
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
  float: left;
}


.modal-study-date{
  background: #F5F5F8;
  font-size: 16px;
  border-radius: 10px;
  padding: 8px;
  letter-spacing: 0.1em;
  height: 58px;
  width: 374px;
}


.modal-study-time{
  background: #F5F5F8;
  font-size: 16px;
  border-radius: 10px;
  padding: 8px;
  letter-spacing: 0.1em;
  height: 58px;
  width: 374px;
}


/* 文字も含めたチェックボックス全体 */
.modal-checkbox {
  display: inline-flex;
  position: relative;
  margin: 5px;
  border-radius: 50px;
  background-color: #F5F5F8;
  cursor: pointer;
  user-select: none;
  color: #2b2e38;
  width: auto;
  align-items: center;
  white-space: inherit;
  padding: 10px;
}

/* チェックボックスの丸 */
.modal-checkbox__circle{
    background-color: #CCCCCC;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: relative;
    align-items: center;
    text-align: center;
    vertical-align: text-top;
    margin-right: 5px;
    display: block;

}


.stretched-link::after{
  position:absolute;top:0;right:0;bottom:0;left:0;z-index:1;pointer-events:auto;content:"";background-color:rgba(0,0,0,0)
}



/* チェックボックスのチェック */
.modal-checkbox__checkbox__check{
  content: '';
  width: 40%;
  height: 30%;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(-45deg);
  position: absolute;
  top: 30%;
  left: 30%;
  border-radius: 1px;
  z-index: 100;
}

/* チェックしたときにボックスの背景が変わるCSS */
.modal-checkbox-checked{
  background-color: #E7F5FF;
}

/* クリックした後のチェックボックスのcss */
.modal-checkbox__circle-checked{
    background-color: #0F71BD;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: relative;
    align-items: center;
    text-align: center;
    vertical-align: text-top;
    margin-right: 5px;
    display: block;
}







textarea{
  font-size: 16px;
    background: #F5F5F8;
    border-radius: 10px;
    width: 374px;
    height: 243px;
    padding: 8px;
}


input[type=checkbox]{

  height: 10px;
  width: 10px;
  display: none;
}


#graph-area{
  margin: auto;
  transform: translate(0,15%);
}







/* ローディング画面 */


.loading{
  display: none;
}














/* 完了画面 */

.modal-wrapper-done {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 40px 10px;
  text-align: center;
  align-items: center;
  display: block;
  margin: 0 auto;
}

.modal-wrapper-done:not(:target) {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
}

.modal-wrapper-done:target {
  opacity: 1;
  visibility: visible;
  transition: opacity .4s, visibility .4s;
}

.modal-wrapper-done::after {
  display: inline-block;
  height: 100%;
  margin-left: -.05em;
  vertical-align: middle;
  content: ""
}

.modal-wrapper-done .modal-window-done {
box-sizing: border-box;
  display: inline-block;
  z-index: 20;
  position: relative;
  width: 900px;
  height: 600px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, .6);
  vertical-align: middle;
  border-radius: 20px;
  overflow-x:hidden ;
  overflow-y: hidden;
}



.modal-overlay-done {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.445);

}

.modal-content-done{
  margin: 0 auto;
    width: 100%;
    transform: translate(10px, 30px);
    max-width: 100%;
    /* display: flex; */
    align-items: center;
    justify-content: center;


}



.modal-done{
  justify-content: center;
  align-items: center;
  margin-top: 25%;


}

.modal-done-text{
  position: relative;
}

.modal-done-text h4{
  color: #bde360;
  text-align: center;
  font-size: 25px;
  transform: translate(0, -300%);
}

.modal-done-text h3{
  font-size: 30px;
  position: relative;
    transform: translate(0, 70%);
}

.circle{
  background-color: #bde360;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    transform: translate(-50px, -50px);
}


.check{
  content: '';
  width: 40%;
  height: 30%;
  border-left: 4px solid white;
  border-bottom: 4px solid white;
  transform: rotate(-45deg);
  position: relative;
  top: 30%;
  left: 30%;
  border-radius: 2px;
}


.modal-done .fas {
  size: 9em;
}

.modal-done .fa-check-circle{
  size: 9em;

}



.modal-wrapper-done .modal-close {
  z-index: 20;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 35px;
  color: #95979c !important;
  background: #F5F5F8;
  border-radius: 100%;
  font-size: 20px;
  font-weight: bold;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  text-indent: 0

}


.modal-wrapper-done .modal-close:hover {
  color: #2b2e38 !important
}
