.header{
  background: white;
  width: 100%;
  height: 64px;
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;


}

.header__inner{
  display: flex;
  align-items: center;
  text-align: center;
  height: 64px;


}

.header__inner__logo img{
  float: left;
  margin-left: 46px;
  height: 22px;
}

.header__inner__time h2{
  color:#97B9D1;
  font-weight: 100;
  margin-left: 20px;
  font-size: 15px;
}

.header__inner__right{
  margin-left: 900px;
}

.header__inner__button {
  background: linear-gradient(to right , rgb(32, 91, 255) , skyblue);
  color: #fff; /* 文字色 */
  padding: 12px 58px; /* 上下の余白、左右の余白 */
  text-decoration: none; /* デフォルトで入る下線を消す */
  border-radius: 30px; /* 角を丸くする */
  box-shadow: 0 0 5px rgb(19, 129, 255);
  box-sizing: content-box;
  z-index: 1000;
  text-align: center;
  align-items: center;
  width: 80px;
  top: 10px;
  right: 40px;
  position: absolute;
  font-family: "Font Awesome 5 Free";

}


.responsive__inner__button{
  background: linear-gradient(to right , rgb(32, 91, 255) , skyblue);
  color: #fff; /* 文字色 */
  padding: 12px 58px; /* 上下の余白、左右の余白 */
  text-decoration: none; /* デフォルトで入る下線を消す */
  border-radius: 30px; /* 角を丸くする */
  box-shadow: 0 0 5px rgb(19, 129, 255);
  box-sizing: content-box;
  z-index: 1000;
  text-align: center;
  align-items: center;
  width: 80px;
  position: absolute;
  display: none;
  font-family: "Font Awesome 5 Free";

}







/* main */
html{
  background:#F5F5F8;
}

.main{
  max-width: 100%;
  margin: 0 auto;
  margin-top: 84px;

}

.main__inner{
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
}


.main__inner__1__time{
  display: flex;

}

.section__box{
  background: white;
  box-shadow: 10px 10px 10px -15px rgb(185, 185, 185);
  border-radius: 10px;
  margin: 10px;
}

.main__inner__1__time__box{
  width: 100%;
  height: 136px;
  padding: 5px;
  list-style: none;

}

.main__inner__1__timeglaph{
  width: 624px;
  height: 410px;

}

.main__inner__2{
  display: flex;
}

.main__inner__2__box{
  width: 300px;
  height: 570px;
  position: relative;
    overflow: hidden;
    margin:20px;
}


#language-graph{
  position: absolute;
  display: block;
  width: 50%;
}

.main__inner__2__box h2{
  font-weight: 600;
  font-family: "Font Awesome 5 Free";
    font-size: 25px;

    margin-top: 15%;
    margin-left: 20px;
}




.time__title{
  text-align: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  font-style: inherit;
  color: rgb(19, 91, 185);

  margin: 10px;
}

.time__result{
  text-align: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  font-family: 'arial',sans-serif;
  margin: 10px;
  letter-spacing: 0.05em;

}

.time__unit{
  text-align: center;
  align-items: center;
  font-size: 20px;
  font-weight:inherit;
  font-style: normal;
  color:#97B9D1;
  margin: 10px;

}


.main__date{
  text-align: center;
  align-items: center;
  font-family: 'arial',sans-serif;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0 auto;
}


/* モーダル */

.modal-wrapper {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 40px 10px;
  text-align: center
}

.modal-wrapper:not(:target) {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
}

.modal-wrapper:target {
  opacity: 1;
  visibility: visible;
  transition: opacity .4s, visibility .4s;
}

.modal-wrapper::after {
  display: inline-block;
  height: 100%;
  margin-left: -.05em;
  vertical-align: middle;
  content: ""
}

.modal-wrapper .modal-window {
  box-sizing: border-box;
  display: inline-block;
  z-index: 20;
  position: relative;
  width: 900px;
  height: 600px;
  padding-left: 56px;
  padding-right: 56px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, .6);
  vertical-align: middle;
  border-radius: 20px;
  overflow-y: hidden;

}

.modal-wrapper .modal-window .modal-content {
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: left
}

.modal-overlay {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.445)
}

.modal-wrapper .modal-close {
  z-index: 20;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 35px;
  color: #95979c !important;
  background: #F5F5F8;
  border-radius: 100%;
  font-size: 20px;
  font-weight: bold;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  text-indent: 0

}


.modal-wrapper .modal-close:hover {
  color: #2b2e38 !important
}


.modal-button{
  margin: 0 auto;
    background: linear-gradient(to right , rgb(32, 91, 255) , skyblue);
    color: #fff;
    padding: 12px;
    text-decoration: none;
    border-radius: 30px;
    width: 70%;
    box-shadow: 0 0 5px rgb(19 129 255);
    box-sizing: content-box;
    align-items: center;
    text-align: center;
}

.modal-content{
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content-1{
  height: 500px;
  margin: 20px;

}

.modal-content-2{
  height: 500px;
  margin: 20px;
}

.modal-content-title{
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
  float: left;
}


.modal-study-date{
  background: #F5F5F8;
  font-size: 16px;
  border-radius: 10px;
  padding: 8px;
  letter-spacing: 0.1em;
  height: 58px;
  width: 374px;
}


.modal-study-time{
  background: #F5F5F8;
  font-size: 16px;
  border-radius: 10px;
  padding: 8px;
  letter-spacing: 0.1em;
  height: 58px;
  width: 374px;
}



.modal-checkbox {
  display: inline-flex;
  position: relative;
  margin: 5px;
  border-radius: 50px;
  background-color: #F5F5F8;
  cursor: pointer;
  user-select: none;
  color: #2b2e38;
  width: auto;
  align-items: center;
  white-space: inherit;
  padding: 10px;

}

.float{
  float: left;
}

/* チェックしたときにボックスの背景が変わるCSS */
.content-checkbox-checked{
  background-color: #E7F5FF;
}

/* クリックした後のチェックボックスのcss */
.modal-checkbox-checked{
  background-color: #0F71BD;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: relative;
    align-items: center;
    text-align: center;
    vertical-align: text-top;
}



.modal-checkbox__checkbox{
    background-color: #CCCCCC;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: relative;
    align-items: center;
    text-align: center;
    vertical-align: text-top;
}

.modal-checkbox__checkbox__check{
  content: '';
  width: 40%;
  height: 30%;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(-45deg);
  position: absolute;
  top: 30%;
  left: 30%;
  border-radius: 1px;
}

textarea{
  font-size: 16px;
    background: #F5F5F8;
    border-radius: 10px;
    width: 374px;
    height: 243px;
    padding: 8px;
}


input[type=checkbox]{

  height: 10px;
  width: 10px;
  display: none;
}


#graph-area{
  margin: auto;
  transform: translate(0,15%);
}







/* ローディング画面 */







/* 完了画面 */

.modal-wrapper-d {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 40px 10px;
  text-align: center
}

.modal-wrapper-d:not(:target) {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
}

.modal-wrapper-d:target {
  opacity: 1;
  visibility: visible;
  transition: opacity .4s, visibility .4s;
}

.modal-wrapper-d::after {
  display: inline-block;
  height: 100%;
  margin-left: -.05em;
  vertical-align: middle;
  content: ""
}

.modal-wrapper-d .modal-window-d {
  box-sizing: border-box;
  z-index: 20;
  position: relative;
  width: 900px;
  height: 600px;
  background: #fff;
  box-shadow: 0 0 30px rgb(0 0 0 / 60%);
  vertical-align: middle;
  border-radius: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: auto;
  text-align: center;
  transform: translate(0, 25%);
}



.modal-overlay-d {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.445)
}

.modal-content-d{
  margin: 0 auto;
    width: 100%;
    transform: translate(10px, 30px);
    max-width: 100%;
    /* display: flex; */
    align-items: center;
    justify-content: center;


}



.modal-done{
  justify-content: center;
  align-items: center;
  margin-top: 25%;


}

.modal-done-text{
  position: relative;
}

.modal-done-text h4{
  color: #bde360;
  text-align: center;
  font-size: 25px;
  transform: translate(0, -300%);
}

.modal-done-text h3{
  font-size: 30px;
  position: relative;
    transform: translate(0, 70%);
}

.circle{
  background-color: #bde360;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    transform: translate(-50px, -50px);
}


.check{
  content: '';
  width: 40%;
  height: 30%;
  border-left: 4px solid white;
  border-bottom: 4px solid white;
  transform: rotate(-45deg);
  position: relative;
  top: 30%;
  left: 30%;
  border-radius: 2px;
}


.modal-done .fas {
  size: 9em;
}

.modal-done .fa-check-circle{
  size: 9em;

}



.modal-wrapper-d .modal-close {
  z-index: 20;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 35px;
  color: #95979c !important;
  background: #F5F5F8;
  border-radius: 100%;
  font-size: 20px;
  font-weight: bold;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  text-indent: 0

}


.modal-wrapper-d .modal-close:hover {
  color: #2b2e38 !important
}



/* カレンダー */

/*全体*/
.wrapper{
  max-width: 600px;
  margin: 0 auto;
  color: #666;
}
#header {
  text-align: center;
  font-size: 24px;
  width: 100%;
  margin: 1rem 0 0;
}

/*カレンダー*/
#calendar {
  text-align: center;
  width: 100%;
}
table {
  outline: 2px solid #ddd;
  border-collapse: collapse;
  width: 100%;
}
th {
  color: #000;
}
th, td {
  outline: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
/*日曜日*/
td:first-child {
  color: red;
}
/*土曜日*/
td:last-child {
  color: blue;
}

/*前後月の日付*/
td.disabled {
  color: #ccc;
}
/*本日*/
td.today {
  background-color: #D65E72;
  color: #fff;
}

/*ボタン*/
#next-prev-button {
  position: relative;
}
#next-prev-button button{
  cursor: pointer;
  background: #B78D4A;
  color: #fff;
  border: 1px solid #B78D4A;
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  margin: 1rem 0;
}
#next-prev-button button:hover{
  background-color: #D4BB92;
  border-color: #D4BB92;
}
#prev {
  float: left;
}
#next {
  float: right;
}






.calender__wrapper {
  display: none;
}
